*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #FBF3E8;
    --secondary-color: #1F629A;
    --accent1-color: #31A6DF;
    --accent2-color: #e39316;
    --gradient: linear-gradient(-120deg, #e39316, #11031f);
    --details-color: #284D77;
    --heading-font: "Archivo", sans-serif;
    --body-font: "Open Sans", sans-serif;
}

body{
    font-family: var(--body-font);
    background-color: var(--primary-color);
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.navigation{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 1rem;
}

.navigation a{
    display: block;
    color: var(--secondary-color);
    font-weight: 700;
    text-decoration: none;
    font-size: 1.2rem;
}

.navigation a:hover{
    color: var(--accent2-color);
    font-weight: 700;
}


header, main, footer{
    width: 840px;
    margin: 0 auto;
}

.hero{
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

h1, h2{
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

.hero h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    font-size: 2.5rem;
}

article{
    position: absolute;
    background-color: var(--accent2-color);
    opacity: 0.8;
    width: 90%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
}

.hero article img{
    float: right;
    width: 250px;
    padding: 10px;
}

.historyGrid{
    display: flex;
}

.history{
    width: 100%
}

h2{
    margin-top: 10px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.8rem;
}

.history img{
    width: 300px;
}

.imagesGrid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.imagesGrid img{
    width: 100%;
    height: 150px;
    object-fit: cover; 
    margin-top: 20px;

}

nav, p, section{
    margin: 16px;
    padding: 8px;
}

.socialmedia a{
    text-decoration: none;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

footer p{
    flex: 1;
    text-align: center;
    margin: 0;
    font-size: 0.6rem;
}

.socialmedia{
    display: flex;
    gap: 10px;
}

.socialmedia img {
  width: 24px;
  height: 24px;
}

/*Contact US*/

.contactBoxes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 3rem ;
}

hr{
    margin-top: 20px;;
}

.boxContact, .map{
    display: flex;
    flex-direction: column;
    justify-content: center;     
    align-items: center;         
    text-align: center;   
    border: 1px solid hsl(0, 17%, 89%);
    border-radius: 8px;
    
}

.contactBoxes .map{
    grid-column: span 2;
}

.boxContact{
    margin: 0; 
    height: 300px; 
    box-sizing: border-box; 
    text-align: center; 
}

.boxContact h3,
.boxContact p{
    margin: 5px 0;
    padding: 0;
}


iframe{
    width: 100%;
    height: 300px; 
    border: none;
}

.employeeGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.employeeGrid img{
    width: 100%;
    height: 250px;
    object-fit: cover; 
    margin-top: 20px;
}

.formStyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.formBox{
    display: flex;
    flex-direction: column;
    width: 700px;
    background: var(--gradient)
}

.formBox .h2Form{
    margin-bottom: 20px;
}

.formBox form{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    padding: 32px;
}

.formBox input, 
.formBox textarea{
    width: calc(50% - 8px);
    height: 40px;
    border-radius: 8px;
    border: thin solid green;
    padding-left: 16px;
    margin-bottom: 16px;
    font-size: 16px;
}

.formBox input:first-child{
    margin-right: 16px;
}

.formBox textarea{
    width: 100%;
    height: 180px;
    padding: 16px;
}

.formBox button{
    display: block;
    border: none;
    outline: none;
    width: 180px;
    height: 48px;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.formBox button:hover{
    background-color: rgb(148, 140, 140);
}

.radioForm{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.radioForm{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.radioForm input[type="radio"]{
    width: 15px;
    height: 15px;
    vertical-align:auto;
}